<?xml version="1.0"?>
<config>
    <sections>
        <catalog>
            <groups>
                <autorelated_group translate="label" module="product_autorelated">
                    <label>Autorelated products configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <count translate="label">
                            <label>Products Count</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits</validate>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </count>
                    </fields>
                </autorelated_group>
            </groups>
        </catalog>
    </sections>
</config>